*.d
*.gch
*.o
*.elf
*.bin
*.iso
*.cue
*.ppm
*.png
*.out
*.pcm
*.su
*.ss
*.dsp
*.exe
res/mai.data
tools/ttf-convert
tools/ttf-bitmap
tools/ttf_bitmap2
common/keyboard.cpp
common/keyboard.hpp
wordle/word_list.hpp